body{
background-color: rgb(49, 47, 47);

}

.titletext{
color:lightgrey;


}
.wrapper
{
  width: 100%;
  position: fixed;
  top: 1;
  left: 0;
  background-color: rgba(255, 255, 255, 0.137);
  backdrop-filter: blur(13px);
}

.navbar
{
  position: center;
  color: #fff;
  padding: 0 20px;
  height: 10px;
}


